*{margin: 0;
  padding: 0;

}

.snow-container{
  background-image: url("../images/yuki\(1\).jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.snow{
  background-color: #fff;
  border-radius:  50%; 
  position: absolute;
  animation: snowFall 10s linear;
}

@keyframes snowFall{
  0% {  
    opacity: 0;
    top: 0;
    transform: translateX(5px);
  }
  10% {
  opacity:1 ;
  transform: translateX(-5px);
  }
  20%{
    transform: translateX(-5px);
  }
  30% {
    transform: translateX(5px);
  }40% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  90% {
   opacity: 1;
  }
 100%{
   opacity: 0;
   top: 100vh;
  }
}